.Header__component{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    position: sticky;
    top:0;
    padding-bottom: 0.2rem;
}

.header__one{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.header__two{    
    font-size: 18px;
    font-weight: 400;
    color: lightcyan;
}