*{
}

button{
    margin-top: 1rem;
    margin-right:20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
    border: 2px solid lightgray;
}
